<app-breadcrumbs [title]="titlePage"></app-breadcrumbs>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <div class="d-flex justify-content-center align-items-center">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <button type="button" class="btn btn-sm btn-block btn-primary" data-toggle="modal"
                            (click)="openModalNewBreakfast()">
                            <i class="fas fa-plus-circle icoRight"></i>
                            Novo Café da manhã
                        </button>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div *ngIf="isLoading else breakfastTable">
                    <div class="d-flex justify-content-center mt-4 mb-4">
                        <app-loading-local></app-loading-local>
                    </div>
                </div>

                <ng-template #breakfastTable>
                    <div *ngIf="(dataset.length <= 0 && isSearch) || !isSearch; else viewTable">
                        <div class="d-flex justify-content-center mt-4" id="mensagemErro" style="color: red;">
                            <p style="color: black;">Não existe dados a serem exibidos ou você ainda não fez a
                                busca.
                            </p>
                        </div>
                    </div>
                    <ng-template #viewTable>
                        <div class="table-responsive">
                            <table id="dataTable" class="table table-bordered table-striped mt-4"
                                aria-describedby="dataTable">
                                <thead>
                                    <tr>
                                        <th *ngFor="let header of headers">
                                            {{header}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of dataset">
                                        <td>{{ item.description }}</td>
                                        <td>{{ item.date }}</td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>

                    </ng-template>
                </ng-template>
            </div>
        </div>
    </div>

</section>


<div class="modal fade custom-modal" id="registerBreakfastModal" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cadastrar Café da manhã</h4>
                <button type="button" class="close" aria-label="Close" (click)="closeModalNewBreakfast()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="row g-3" [formGroup]="breakfastForm">


                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="txtName">Descrição<sup class="text-danger">*</sup></label>
                            <input type="text" id="txtName" class="form-control" formControlName="description"
                                placeholder="Descrição">
                            <div class="form-text text-danger" *ngIf="isTouchAndInvalid('description') || isError">
                                <small *ngIf="breakfastForm.get('description')?.hasError('required')">Campo
                                    Obrigatório</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="txtName">Data do café da manhã<sup class="text-danger">*</sup></label>
                            <input type="date" id="txtName" class="form-control" formControlName="dateBreakfast"
                                placeholder="Digite o seu Cpf">
                            <div class="form-text text-danger" *ngIf="isTouchAndInvalid('dateBreakfast') || isError">
                                <small *ngIf="breakfastForm.get('dateBreakfast')?.hasError('required')">Campo
                                    Obrigatório</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label>Funcionário</label>
                            <select id="employeeId" class="form-control select" style="width: 100%;"
                                formControlName="employee">
                                <option *ngFor="let item of employeeList" [value]="item.id">{{item.name}} - {{
                                    item.cpf }} </option>
                            </select>
                            <div class="form-text text-danger" *ngIf="isTouchAndInvalid('employee') || isError">
                                <small *ngIf="breakfastForm.get('employee')?.hasError('required')">Campo
                                    Obrigatório</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label>item</label>
                            <select id="itemId" class="form-control select" style="width: 100%;"
                                formControlName="item">
                                <option *ngFor="let item of itemList" [value]="item.id">{{item.description}} </option>
                            </select>
                            <div class="form-text text-danger" *ngIf="isTouchAndInvalid('item') || isError">
                                <small *ngIf="breakfastForm.get('item')?.hasError('required')">Campo
                                    Obrigatório</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label>Incluir Item</label>
                            <button type="button" class="btn btn-sm btn-primary  form-control" (click)="itemSelected()">
                                <i class="fa fa-arrow-down" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>

                    <div class="modal-body">
                        <table id="dataTable" class="table table-bordered table-striped mt-4"
                            aria-describedby="dataTable">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Cpf</th>
                                    <th>Item</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let entry of selectedItemList">
                                    <td>{{ entry.nome}}</td>
                                    <td>{{ entry.cpf }}</td>
                                    <td>{{ entry.item}}</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <button type="button" class="btn btn-link btn-sm"
                                                (click)="deleteItem(entry)">
                                                <i class="fas fa-trash-alt text-danger"></i>
                                            </button>

                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                
                    </form>
            </div>
            <div class="col-lg-12 col-md-6 col-sm-12">
                <div class="modal-footer">
                    <div class="form-group d-flex align-items-end">
                        <button type="button" class="btn btn-sm btn-primary ml-auto" (click)="prepareSave()">
                            <i class="fas fa-save icoRight "></i>
                            Salvar
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>